.section-center{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(45, 38, 90);
  padding: 20px;
}

.content{
  width: 100%;
  max-width: 480px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 2px 15px 2px #111;
}

h3{
  font-size: 30px;
  margin: 15px;
}

input{
  padding: 10px;
  width: 70%;
  outline: none;
  border: 1px solid gray;
  margin-bottom: 20px;
  font-size: 16px;
}

.submit-btn{
  width: 20%;
  padding: 10px 20px;
  background-color: darkslateblue;
  color: white;
  font-size: 16px;
  border: 1px solid darkslateblue;
  cursor: pointer;

}

.clear-btn{
  background-color: lightcoral;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
}

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.title{
  font-size: 22px;
  font-weight: 600;
}

.btn-container{
  display: flex;
  gap: 10px;
}

.edit-btn, .delete-btn{
  border: none;
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.delete-btn{
  background-color: darkred;
}

.alert-danger{
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

.alert-success{
  background-color: green;
  color: white;
  padding: 10px;
  font-weight: bold;
}